<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensajes en Redis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Notificaciones Recibidas</h1>
    <ul id="notificaciones"></ul>

    <br>
    <a href="/">Volver a la página principal</a>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script>
        // Conectar al servidor de WebSocket
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // Escuchar el evento 'new_message' para recibir mensajes
        socket.on('new_message', function(message) {
            console.log("Mensaje recibido:", message);  // Verificación en consola
            var notification = document.createElement('li');
            notification.textContent = message;  // Mostrar el mensaje real recibido
            document.getElementById("notificaciones").appendChild(notification);
        });

    </script>
</body>
</html>
